<div class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
    <app-projects-card url="/Projects/Project1.jpeg" title="Mechatronic Heart" description="The Mechatronic Heart, project aims to create a functional artificial heart using mechatronics, addressing heart failure and donor shortages. By integrating servo motors, an Arduino Nano, and a servo controller, it mimics heartbeats and blood pumping. This multidisciplinary effort in mechanical engineering, electronics, and biomedical science seeks to provide a reliable solution for transplant patients, offer alternatives for those ineligible for transplants, and serve as a medical education and research tool."></app-projects-card>
    <app-projects-card url="/Projects/Project2.jpeg"  title="Low-Cost Autonomous Drone 
    System" description="The objective of this project is to develop a low-cost, reliable 
    autonomous drone system capable of navigating between 
    predefined GPS waypoints using the APM 2.8 flight controller. 
    This system aims to democratize access to advanced drone          
    technology for various applications by providing an affordable and 
    user-friendly solution, without compromising on performance and 
    safety. The project focuses on integrating cost-effective hardware 
    with innovative software algorithms to optimize flight efficiency, 
    enhance user experience, and ensure operational safety"></app-projects-card>
    <app-projects-card url="/Projects/Project3.jpeg" title="Insect Bio Robot for Agriculture Land" description="The objective of this project is to develop an insect robot for agricultural use that emits frequencies to repel harmful insects while also monitoring disease in crops. This multifunctional robot aims to provide farmers with a sustainable and efficient solution for pest management and crop health monitoring."> </app-projects-card>
</div>